.message {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 400px;
	min-height: 50px;
	box-sizing: border-box;
	padding: 15px;
	margin: 15px 0 0 0;
	background: transparent;
	border: 1px solid #E1E1E1;
	border-radius: 15px;
	color: $white-color;
	@include font(14px, 17px, 400);
	text-align: left;

	&__inner {
		@include flex-y-center;
	}

	&__user {
		color: $main-theme-color;
		line-height: normal;
		font-weight: 700;
	}

	&__date {
		margin: 0 0 0 5px;
		color: $light-grey-color;
		font-size: 10px;
		line-height: normal;
	}

	&__text {
		margin: 5px 0 0 0;
		width: 370px;
		word-wrap: break-word;
	}
}