.chat {
    width: 1200px;
    border: 1px solid #A4A4A4;

    &__list {
        @include flex-column-x-center;
        min-height: 100px;
        margin: 50px 0 80px;
        list-style-type: none;
    }

    &__form {
        display: flex;
        justify-content: center;
        min-width: 400px;
        min-height: 50px;
        position: relative;
        margin: 30px 0 0 0;
    }
}